@charset "utf-8";
/* v1.1 | 2024-07-26 */

/* 디바이스 */
.device-frame {
	overflow: hidden;
	position: relative;
	width: auto;
	height: auto;
	box-sizing: content-box;
	background: #ffffff;
}

.device-frame .indicator {
	flex: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.device-frame .indicator {
	width: 100%;
	height: 70px;
	padding: 0 30px 0 40px;
	box-sizing: border-box;
}

/* .device-frame .indicator { position: absolute; top: 0; left: 0; } */
.device-frame .indicator .ly-left {
	display: flex;
	align-items: center;
	gap: 5px;
}

.device-frame .indicator .ly-right {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* .device-frame .url-box {} */
.device-frame .frameview-wrap {
	height: 100%;
}

.device-frame .frameview-wrap iframe {
	height: 100%;
}

.frame-view.active .device-frame {
	display: inline-flex;
	flex-direction: column;
	margin: 20px;
}

.frame-view.active .device-frame {
	border: 6px solid #C7CDD7;
	border-radius: 46px;
}

.notch.ty-top {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.top-area {
	height: 47px;
	flex: none;
	background: #ffffff;
}

.bot-area {
	flex: none;
	height: 34px;
	background: #ffffff;
}

.notch.ty-bot {
	width: 134px;
	height: 5px;
	border-radius: 100px;
	background: rgba(255, 255, 255, .8);
	mix-blend-mode: difference;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.notch.ty-bot {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.logo_wrap {
	z-index: 1;
	position: fixed;
	bottom: 65px;
	right: 40px;
	cursor: pointer;
}

.logo_wrap>img {
	width: 80px
}

.logo_project {
	z-index: 1;
	cursor: pointer;
}

.logo_project .logo {
	position: fixed;
	top: 40px;
	left: 40px;
	padding: 0 0 0 3px;
}

.logo_project .big_title {
	position: fixed;
	top: 90px;
	left: 40px;
	color: #000000;
	font-size: 28px;
	line-height: 40px;
}

.logo_project .big_title span {
	font-size: 20px;
	line-height: 40px;
}

.logo_project .big_title b {
	margin-left: -2px;
	font-weight: bold;
}

.logo_project .mid_title {
	color: #000000;
	font-size: 28px;
}

.proto_wrap {
	position: fixed;
	bottom: 30px;
	right: 40px;
	text-align: right;
	display: none
}

.device {
	z-index: 100;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	width: 380px;
	height: 850px;
	background: #000;
	border-radius: 40px;
}

.frame {
	z-index: 1000;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	width: 360px;
	height: 830px;
	background: #fff;
	border-radius: 30px;
	box-sizing: border-box;
	overflow: hidden
}

.frame iframe {
	position: absolute;
	top: 30px;
	width: 100%;
	height: 800px;
	border: none;
	background: none;
	border-radius: 0 0 30px 30px;
}

@media screen and (max-width: 1000px) {
	.logo_project .big_title {
		display: none;
	}
}

h1 {
	font-size: 16px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-self: center;
	width: 100%;
	padding-top: 60px;
}

a {
	display: inline-block;
}
/* sl-modal */
.sl-modal {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

/* 활성화 */
.sl-modal.active {
	display: flex;
}

/* animation */
.sl-modal[data-animation=off] {
	transition: none;
}
.sl-modal[data-animation=off] .modal-layer {
	transition: none;
}

.sl-modal.active[data-animation=off] {
	opacity: 1;
}
.sl-modal.active[data-animation=off] .modal-layer {
	opacity: 1;
}

/* modal-popup */
.sl-modal.modal-popup {
	overflow: auto;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 20px;
	z-index: 2000;
}
.sl-modal.modal-popup .modal-layer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 296px;
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 24px;
  border: 1px solid var(--color-cg02);
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
}
.sl-modal.modal-popup .modal-layer .modal-header {
  width: 100%;
  padding: 17px 46px 16px 20px;
  border-bottom: 1px solid var(--color-cg02);
  box-sizing: border-box;
}
.sl-modal.modal-popup .modal-layer .modal-title {
  display: inline-block;
  color: var(--color-basic01);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.sl-modal.modal-popup .modal-layer .modal-container {
  overflow: auto;
  overflow: overlay;
  width: 100%;
}
.sl-modal.modal-popup .modal-layer .modal-container .modal-inner {
  padding: 32px 24px 24px 24px;
}
.sl-modal.modal-popup .modal-layer .modal-footer {
  width: 100%;
  margin-top: auto;
}
.sl-modal.modal-popup .modal-layer .btn-wrap {
  display: flex;
  border-top: 1px solid var(--color-cg02);
}
.sl-modal.modal-popup .modal-layer .btn-wrap .se-btn.btn-main {
  width: 100%;
  min-height: 47px;
  padding: 6px;
  border-radius: 0;
}
.sl-modal.modal-popup .modal-layer .btn-wrap .se-btn.btn-main.ty-cancel {
  background-color: transparent;
  color: var(--color-cg07);
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  border: none;
}
.sl-modal.modal-popup .modal-layer .btn-wrap .se-btn.btn-main.ty-confirm {
  background-color: transparent;
  color: var(--color-secondary);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  border: none;
}
.sl-modal.modal-popup .modal-layer .btn-wrap .se-btn.btn-main + .se-btn.btn-main {
  border-left: 1px solid var(--color-cg02);
}
.sl-modal.modal-popup .modal-layer .modal-control {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
}
.sl-modal.modal-popup .modal-layer .btn-dialog-close {
  width: 32px;
  height: 32px;
  background: url("../../image/uiux/component/btn_dialog_close_round.svg") no-repeat center;
}

/* modal-popup - animation */
.sl-modal.modal-popup {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
.sl-modal.modal-popup .modal-layer {
  opacity: 0;
  margin-top: 50px;
  transition: opacity 0.3s ease 0s, margin-top 0.3s ease 0s;
}

.sl-modal.modal-popup.ani {
  opacity: 1;
}
.sl-modal.modal-popup.ani .modal-layer {
  opacity: 1;
  margin-top: 0;
}

/* modal-popup - 아이콘유형 */
.sl-modal.modal-popup.ty-icon .modal-container .modal-inner {
  padding: 32px 24px;
}

/* modal-popup - 공통text */
.sl-modal.modal-popup .icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.sl-modal.modal-popup .popup-title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.sl-modal.modal-popup .popup-title {
  color: var(--color-basic01);
  font-family: var(--font-point);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.sl-modal.modal-popup .popup-conts-wrap {
  color: var(--color-cg07);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.sl-modal.modal-popup .popup-conts-wrap b {
  font-weight: 600;
}


/* modal-full */
.sl-modal.modal-full {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0;
	box-sizing: border-box;
	background: green;   /* 배경색 없음 */
	backdrop-filter: none;     /* 블러 효과 제거 */
	-webkit-backdrop-filter: none; /* 사파리 대응 */
	z-index: 9999;
}
.sl-modal.modal-full .modal-layer {
	display: flex;
	flex-direction: column;
	width: 360px;
	height: 800px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 0;
	box-sizing: border-box;
	background-color: var(--color-basic02);
}
.sl-modal.modal-full .modal-layer .modal-header {
	flex: none;
	display: flex;
	align-items: center;
	height: 64px;
	padding: 0 50px 0 16px;
	box-sizing: border-box;
}
.sl-modal.modal-full .modal-layer .modal-header.ty-layout {
	position: relative;
	padding: 0 16px;
	justify-content: space-between;
}
.sl-modal.modal-full .modal-layer .modal-header.ty-layout .left-area {
	display: flex;
	align-items: center;
	gap: 12px;
}
.sl-modal.modal-full .modal-layer .modal-header.ty-layout .right-area {
	display: flex;
	align-items: center;
	gap: 12px;
}
.sl-modal.modal-full .modal-layer .modal-header.ty-layout .modal-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.sl-modal.modal-full .modal-layer .modal-title {
	display: inline-block;
	color: var(--color-basic01);
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}
.sl-modal.modal-full .modal-layer .modal-container {
	overflow: auto;
	overflow: overlay;
	flex: 1;
}
.sl-modal.modal-full .modal-layer .modal-container .modal-inner {
	padding: 16px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: left;
}
.sl-modal.modal-full .modal-layer .modal-container .modal-inner .full-bleed {
	margin-left: -16px;
	margin-right: -16px;
}
.sl-modal.modal-full .modal-layer .modal-footer {
	margin-top: auto;
}
.sl-modal.modal-full .modal-layer .modal-footer .btn-wrap {
	display: flex;
	gap: 10px;
	padding: 12px 16px;
	box-sizing: border-box;
}
.sl-modal.modal-full .modal-layer .modal-footer .btn-wrap .se-btn.btn-main:nth-last-child(2) {
	flex: none;
	width: 27%;
	min-width: 104px;
}
.sl-modal.modal-full .modal-layer .modal-footer .btn-wrap.ty-stack {
	flex-direction: column;
	gap: 10px;
}
.sl-modal.modal-full .modal-layer .modal-footer .btn-wrap.ty-stack .se-btn.btn-main:nth-last-child(2) {
	width: 100%;
}
.sl-modal.modal-full .modal-layer .modal-control {
	display: flex;
	position: absolute;
	top: 16px;
	right: 16px;
}
.sl-modal.modal-full .modal-layer .btn-dialog-close {
	width: 32px;
	height: 32px;
	background: url("../../img/mgp/component/btn_dialog_close.svg") no-repeat center;
}


/* modal-full - animation */
.sl-modal.modal-full {
	opacity: 1;
	transition: opacity 0.3s ease 0s;
}
.sl-modal.modal-full .modal-layer {
	transform: translateX(50px);
	transition: opacity 0.3s ease, transform 0.5s ease 0s;
}
.sl-modal.modal-full[data-animation=off] .modal-layer {
	transform: translateX(0);
}

.sl-modal.modal-full.ani {
	opacity: 1;
}
.sl-modal.modal-full.ani .modal-layer {
	transform: translateX(0);
	transition: opacity 0.3s ease, transform 0.5s ease 0s;
}
